.DS_Store
demo-game/demo-game
demo-game/demo-game.o

game/snake-game
snack-game
game/src/input-manager.o
game/src/render-manager.o
game/src/snake-game.o
game/src/stage-manager.o
game/src/game-manager.o

docs/~$*